.grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}


.general-container{
	display: grid;
	grid-template-rows: auto 3fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
	"title 	title 	title"
	"move 	game 	game"
	"move	game 	game"
}

.title-bar{
	/*
	grid-column: 1/3;
	grid-row: 1/2;
	*/
	grid-area: title;
}

.global-move-list{
	/*
	grid-column: 1/2;
	grid-row: 2/3;
	*/
	grid-area: move;
}

.game-environment-container{
	display: grid;
	grid-template-rows: 1fr auto auto auto 1fr;
	grid-template-columns:  1fr auto 1fr;
	grid-area: game;
	grid-template-areas:
	"p2 		p2 			p2"
	"labelTop 	labelTop 	labelTop"
	"labelLeft 	board 		labelRight"
	"labelBot 	labelBot 	labelBot"
	"p1 		p1 			p1"
}

.chess-board{
	display: grid;
	/*
	grid-row: 2/3;
	grid-column: 2/3;
	*/
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(8, 1fr);
	border: 5px solid black;
	grid-area: board;
}

.board-tile{
	display: inline-block;
	border: 5px solid black;
	height: 60px;
	width: 60px;
}

/*https://www.w3schools.com/howto/howto_css_circles.asp*/
.selectable{
	position: absolute;
	transform: translate(99%, 99%);
	height: 20px;
  	width: 20px;
  	background-color: green;
  	border-radius: 50%;
  	display: inline-block;
}

.capturable{
	position: absolute;
	transform: translate(99%, 99%);
	height: 20px;
  	width: 20px;
  	background-color: red;
  	border-radius: 50%;
  	display: inline-block;
}

.col-labels{
	display: grid;
	grid-template-columns: repeat(8,auto);
}

.col-label-top{
	/*grid-row: 1/2;
	grid-column: 2/3;
	*/
	grid-area: labelTop;
}

.col-label-bot{
	/*
	grid-row: 3/4;
	grid-column: 2/3;
	*/
	grid-area: labelBot;
}

.row-labels{
	display: grid;
	grid-template-rows: repeat(8,auto);
}

.row-label{
	text-align: center;
}

.row-label-left{
	/*
	grid-row: 2/3;
	grid-column: 1/2;
	*/
	grid-area: labelLeft;
}

.row-label-right{
	/*
	grid-row: 2/3;
	grid-column: 3/4;
	*/
	grid-area: labelRight;
}

.player-container{
	border: 1px solid black;
	display: grid;
	grid-template-rows: auto 1fr;
}

.captured-pieces{
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(8,60px);
	grid-template-rows: repeat(2,60px);
}

#player0{
	grid-area: p2;
}

#player1{
	grid-area: p1;
}

/*
.board-row:nth-child(odd) .board-tile:nth-child(odd){
	background-color: black;
}

.board-row:nth-child(even) .board-tile:nth-child(even){
	background-color: black;
}
*/

/*
.board-row{
	display: grid;
	grid-template-columns: repeat(8, auto);
}
*/